<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

    <meta charset="utf-8">

    <title>ListBus</title>
    <style>


    body {
        background-image: url("https://assetsw.bus.com/content/uploads/2018/06/15111829/Coach-Bus-Rentals-1.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(odd) {
  background-color: #dddddd;
}
</style>
  </head>
  <body  style="background-color:#b27df0">
    <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
      <div class="container-fluid">
        <a class="navbar-brand text-white" href="#">APLI BUS </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">



          {% if user.is_authenticated %}
            <li class="nav-item" >
              <a class="nav-link active text-white" aria-current="page" href="listbus">BusList</a>
            </li>
            <li class="nav-item" >
              <a class="nav-link active text-white" aria-current="page" href="bus">Register Bus</a>
            </li>
<!--            <li class="nav-item" >
              <a class="nav-link active" aria-current="page" href="Reservation">viewReservations</a>
            </li>
-->
          {% else%}
          <!--  <li class="nav-item" >
              <a class="nav-link active" aria-current="page" href="bus">Register Bus</a>
            </li>
            <li class="nav-item" >
              <a class="nav-link active" aria-current="page" href="register_listbus">register</a>
            </li>-->
            <li class="nav-item">
              <a class="nav-link active text-white" aria-current="page" href="/">Home</a>
            </li>
            {% endif %}


          </ul>
        <!--  <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>-->
        </div>
      </div>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            {% if user.is_authenticated %}
            <li style="color:#8ff2b2">Hello,{{user.first_name}}</li>
            <li class="nav-item">
              <a class="nav-link active text-white" aria-current="page" href="logout">Logout</a>
            </li>
            {% else%}
            <li class="nav-item" >
              <a class="nav-link active text-white" aria-current="page" href="login_listbus">Login</a>
            </li>
            <li class="nav-item" >
              <a class="nav-link active text-white" aria-current="page" href="register_listbus">register</a>
            </li>
            {% endif %}


          </ul>

    </nav>
  {% block content %}

    {% if user.is_authenticated %}
      <h2 align='center'>List of Buses</h2>
      <div class="container">
        <table>
        <tr style="background-color:#dddddd">
          <th>Bus</th>
          <th>Reg. No.</th>
          <th>Location</th>
          <th>Destination</th>
          <!--<th>Date</th>-->
          <th>No.of Seats</th>
          <th>Avai.Seats</th>
          <th>Departure</th>
          <th>Reaching</th>
          <th>Price/seat</th>
          <th>Edit</th>
          <th>Reservations</th>
          <th>RemoveBus</th>
        </tr>
        {% for bu in bus %}
        <tr style="background-color:#e7fcc0">
          {% if bu.Status %}
          <td>{{bu.Bus_name}}</td>
          <td>{{bu.Reg_No}}</td>
          <td>{{bu.Source}}</td>
          <td>{{bu.Destination}}</td>
          <!--<td>{{bu.date}}</td>-->
          <td>{{bu.No_Seats}}</td>
          <td>{{bu.Av_Se}}</td>
          <td>{{bu.Deap_time}}</td>
          <td>{{bu.Reach_time}}</td>
          <td>{{bu.rate}}</td>
          <td>
            <form  action="edit" method="POST">
            {% csrf_token %}

            <input type="hidden" name="bus_id" value={{bu.Bus_ID}}>
            <button type="submit" class="btn btn-primary" name="status" value="" >Edit</button>


          </form>
          </td>
          <td>
            <form  action="Reservation" method="POST">
            {% csrf_token %}

            <input type="hidden" name="bus_id" value={{bu.Bus_ID}}>
            <button type="submit"class="btn btn-primary" name="status" value="" >View</button>


          </form>
          </td>
          <td>
            <form  action="remove" method="POST">
            {% csrf_token %}

            <input type="hidden" name="bus_id" value={{bu.Bus_ID}}>
            <button type="submit"class="btn btn-danger" name="status" value="" >Remove</button>


          </form>
          </td>
          {% endif %}
        </tr>
        {% endfor %}
        </table>
      </div>
    {% endif %}
   {% endblock %}
  </body>
</html>
